.idea/
*.iml
.gradle/
**/.gradle/
**/build/
**/out/
infrastructure/logs/*
!infrastructure/logs/.gitkeep
.env

# VS Code
.vscode/

# Java build output
**/bin/
*.class

# Python
**/.venv/
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/

